@font-face{
    font-family: 'peacesans';
    src: url('peacesans.ttf'),
    url('./public/fonts/peacesans.ttf'); /* IE */
}
body {
	margin: 0 auto;
}
#navbar {
	position: fixed;
	z-index: 1000;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #3e474f;
	color:#ddd;
	opacity: 0.95;
	font-family: 'peacesans', sans-serif;
	border-bottom: 4px solid #911;
	border-bottom-color: red 0.6;
}
#navbar div {
	position: absolute;
	top: 0;
	display: inline-block;
	padding: 13px;
}
#navbar-2 {
	right: 75px;
}
#navbar a {
	font-size: 23px;
	height: 10px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	color: #5fcf80;
	transition: color 0.5s;
	padding: 10px;
}
#navbar-title a {
	color: #5fcf80;
	font-size: 25px;
}
#navbar a:hover {
	color: white;
	cursor: pointer;
}

#container-main {
	display: block;
	margin-top: 100px;
/*	background-color: red;*/
}

#services {
	display: inline;
/*	background-color: red;*/
	box-sizing: border-box;
}
.service-item-box {
	width: 300px;
	height: 300px;
	/*background-color: red;*/
	display: inline-block;
	float: left;
	margin: 10px;
}
.service-item {
	width: 300px;
	height: 100%;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	border: 1px solid red;
}
.item-name {
	font-family: "peacesans";
	padding: 10px;
}

#services {
	/*background-color: red;*/
}

#sandm {
	height: 100%;
	display: inline-block;
}

#menu {
	width: 18%;
	height: 1500px;
	/*background-color: green;*/
	display: inline-block;
	float: left;
	border-right: 1px solid red;
	border-top: 1px solid red;
	border-radius: 0 23px;
	margin-right: 20px;
}

.service-item {
	background-image: url("../img/lol-logo.png");
	background-repeat: no-repeat;
	opacity: 0.6;
	background-position: center;
	transition: opacity 0.5s;
}
.service-item:hover {
	opacity: 1;
}

.price {
	margin-top: 200px;
}

a {
	cursor: pointer;
}

#background {
	width: 100%;
	height: 880px;
	background-image: url("../img/thumb-1920-600528.png");
}